table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

th{
    background-color: #04AA6D;
    color: #FFFFFF;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}